<div ng-include="'~/crmSearchAdmin/crmSearchAdminDisplayHeader.html'"></div>
<fieldset class="crm-search-admin-edit-columns-wrapper">
  <legend>
    {{:: ts('Fields') }}
  </legend>
  <div class="crm-search-admin-edit-columns">
    <fieldset ng-repeat="col in $ctrl.display.settings.columns">
      <legend>{{:: $ctrl.getLabelForFields(col.mapTo) }}</legend>
      <div class="form-inline">
        <label for="sk-vis-field-{{:: col.mapTo }}">
          {{:: ts('Field') }} <span class="crm-marker">*</span>
        </label>
        <select required crm-ui-select class="form-control huge" ng-model="col.key" id="sk-vis-field-{{:: col.mapTo }}">
          <option
              ng-repeat="select in $ctrl.getColumnOptionsForFields(col.mapTo)"
              value="{{:: select.key }}"
               >
            {{:: select.label }}
          </option>
        </select>
      </div>
      <div class="form-inline crm-search-admin-flex-row" ng-if="col.mapTo === 'popupHtml'">
        <label title="{{:: ts('Change the contents of this field, or combine multiple field values.') }}">
          <input type="checkbox" ng-checked="col.rewrite" ng-click="$ctrl.parent.toggleRewrite(col)" >
          {{:: ts('Rewrite Text') }}
        </label>
        <a crm-ui-help="hs({id: 'rewrite', title: ts('Rewrite Text')})"></a>
        <textarea rows="2" class="form-control crm-flex-1" ng-if="col.rewrite" ng-model="col.rewrite" ng-model-options="{updateOn: 'blur'}"></textarea>
        <crm-search-admin-token-select ng-if="col.rewrite" model="col" field="rewrite" suffix=":label"></crm-search-admin-token-select>
        <search-admin-icons item="col"></search-admin-icons>
      </div>
    </fieldset>
  </div>
</fieldset>
